.vacancy {
  position: relative;
  border-radius: 5px;
  background: white;
  padding: 20px;
  margin-bottom: 70px;
  padding-top: 50px;
  box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.1);
}
.vacancy--feat {
  box-shadow: inset 8px 0px 0px -1px hsl(180, 29%, 50%);
}
.vacancy__logo-wrapper {
  position: absolute;
  bottom: 100%;
  transform: translateY(50%);
}
.vacancy__description {
  padding-bottom: 22px;
  border-bottom: 1px solid hsl(180, 8%, 52%);
}
.vacancy__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.special-info__item {
  position: relative;
  padding: 0 10px 0 15px;
  &::before {
    position: absolute;
    content: "•";
    left: 0;
    top: 50%;
    transform: translateY(-44%);
  }
  &:nth-child(1) {
    padding-left: 0;
    &::before {
      display: none;
    }
  }
}
.vacancy__employer {
  text-transform: capitalize;
  font-size: 15px;
  padding-right: 20px;
  font-weight: 700;
  color: hsl(180, 29%, 50%);
}
.vacancy__title {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
}
.vacancy__labels {
  display: flex;
  align-items: baseline;
  padding: 10px 0;
}
.label {
  display: none;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.label--new {
  background: hsl(180, 29%, 50%);
}
.label--feat {
  background: black;
}
.label--active {
  display: block;
}
.special-info__item {
  color: hsl(180, 8%, 52%);
  font-size: 12px;
}
.vacancy__tags {
  padding: 10px 0;
}
.vacancy__tag {
  border: none;
  border-radius: 4px;
  padding: 8px 5px;
  margin: 10px 0 0;
  margin-right: 10px;
  background: hsl(180, 31%, 95%);
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: hsl(180, 29%, 50%);
  cursor: pointer;
}
