html,
body,
#root {
  padding: 0;
  margin: 0;
}

.app {
  position: relative;
  min-height: 100vh;
  padding-top: 250px;
  font-family: "Spartan", sans-serif;
  background: hsl(180, 52%, 96%);
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url("./components/images/bg-header-desktop.svg") right top /
        auto no-repeat,
      hsl(180, 29%, 50%);
  }
}
.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
